body{
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(68, 68, 68));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.2vmin;
}

.content{
    padding-top: 5vmin;
    width: 70%;
    height: 800px;
    margin: auto;
    position: relative;
}

.navbar{
    border-bottom: 1px solid rgb(59, 60, 60);
}

.logo{
    width: 25%;
    margin: auto;
    display: block;
    padding-bottom: 4vmin;
}

.mission-data{
    border-bottom: 1px solid rgb(59, 60, 60);
}

.rescue-ships{
}

.header{
    color:rgb(134, 134, 134)
}

.button{
    color: white;
    padding: 2vmin;
    border: 1px solid white;
}