body {
  background-image: url("./wallpaper.png");
  background-attachment: fixed;
  background-size: auto 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0.2vmin;
  user-select: none;
}

.content {
  padding-top: 5vmin;
  width: 60%;
  margin: auto;
  position: relative;
  height: 100%;
}

.container-1{
  height: fit-content;
  position: relative;
}

.container-2{
  height: fit-content;
  position: relative;
}

.navbar {
  border-bottom: 1px solid rgb(59, 60, 60);
  display: flex;
}

.logo {
  width: 25%;
  margin: auto;
  display: block;
  padding-bottom: 4vmin;
}

.arrow-left {
  height: 3vmin;
  filter: brightness(0.3);
}

.arrow-left:hover {
  filter: brightness(1);
  cursor: pointer;
}

.arrow-right {
  height: 3vmin;
  filter: brightness(0.3);
}

.arrow-right:hover {
  filter: brightness(1);
  cursor: pointer;
}

.mission-data {
  border-bottom: 1px solid rgb(59, 60, 60);
  display: flex;
  padding-bottom: 4vmin;
  padding-top: 4vmin;
}

.launch-image-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2vmin;
}

.launch-image{
  height: 300px;
  width: 30%;
  object-fit: cover;
  transition: 0.3s;
}

.launch-image:hover{
  transform: scale(1.4);
  z-index: 2;
  transition: 0.3s;
}

.rescue-ships {
  padding-top: 4vmin;
}

.ship-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2vmin;
}

.header {
  color: rgb(255, 255, 255);
  font-weight: 100;
  height: 25px;
  filter: drop-shadow(0px 0px 4px #000000);
}

.header-content {
  color: white;
  height: 60px;
  margin-bottom: 2vmin;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}

.text-align-right {
  text-align: right;
}

.text-large {
  font-size: 3.2vmin;
  font-weight: 900;
}

.learn-more {
  color: white;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  padding-left: 4vmin;
  padding-right: 4vmin;
  border: 1px solid white;
  width: fit-content;
  transition: 0.3s;

}

.learn-more:hover {
  background-color: rgb(97, 97, 97);
  cursor: pointer;
  transition: 0.3s;
}

.column {
  width: 50%;
}

.ship-slide {
  position: relative;
  background-color: rgba(0, 0, 0, 0.425);
  width: 250px;
  height: 250px;
  overflow: hidden;
  filter: drop-shadow(0px 0px 10px black);
  transition: 0.5s;
  margin-top: 30px;
  cursor: pointer;
}


.ship-image {
  height: 150px;
  width: 100%;
  margin: auto;
  display: block;
  object-fit: cover;
}

.header-slide {
  font-size: 2vmin;
  font-weight: 900;
  color: white;
  width: 100%;
  margin: auto;
  padding-bottom: 0.5vmin;
  padding-top: 0.5vmin;
  letter-spacing: normal;
  text-align: center;
}

.header-content-slide {
  font-size: 1.5vmin;
  color: rgb(167, 167, 167);
  margin-left: 5%;
  display: inline;
}

.header-content-slide-text {
  color: rgb(255, 255, 255);
  display: inline;
  font-weight: 900;
  letter-spacing: normal;
  margin-left: 5%;
}

.row {
  width: 100%;
}

.mission-list{
  color: white;
  margin-top: 5vmin;
}

.mission-item{
  transition: 0.2s;
  width: 500px;
  margin:auto;
  cursor: pointer;
  padding: 1vmin;
  background-color: rgba(0, 0, 0, 0.356);
}

.mission-item:hover{
  transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.356)
}

.mission-date{
  float: right;
}

@media only screen and (max-width: 800px) {
  html{
    height: 100%;
  }

  body {
    height: 100%;
    padding-bottom: 150px;
    background-size: auto 850px;
    background-position-x: center;
    background-position: center;
  }

  .content {
    padding-top: 2vmin;
    width: 90%;
    margin: auto;
    position: relative;
  }

  .logo {
    width: 60%;
    margin: auto;
    display: block;
    padding-bottom: 4vmin;
  }

  .arrow-left {
    height: 6vmin;
    filter: brightness(0.3);
  }

  .arrow-right {
    height: 6vmin;
    filter: brightness(0.3);
  }

  .mission-data {
    flex-direction: column;
  }

  .learn-more {
    width: 90%;
    border: 1px solid white;
    text-align: center;
    padding-top: 3vmin;
    padding-bottom: 3vmin;
    margin-bottom: 8vmin;
  }

  .column {
    width: 100%;
  }

  .text-align-right {
    text-align: unset;
  }

  .ship-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4vmin;
  }

.ship-slide {
  position: relative;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 300px;
  overflow: hidden;
  filter: drop-shadow(0px 0px 10px black);
  transition: 0.5s;
  top: 30px;
  border: 2px solid rgb(255, 255, 255);
}

.ship-image {
  height: 180px;
  width: 100%;
}

  .header-slide {
    font-size: 6vmin;
    font-weight: 900;
    border-bottom: 1px solid rgb(219, 219, 219);
    width: 95%;
    margin: auto;
    padding-bottom: 1vmin;
    letter-spacing: normal;
  }

  .header-content-slide {
    font-size: 4vmin;
    color: rgb(167, 167, 167);
    margin-left: 5%;
    display: inline;
  }

  .text-large {
    font-size: 7vmin;
    font-weight: 600;
  }

  .launch-image-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2vmin;
  }
  
  .launch-image{
    height: 300px;
    width: 100%;
    object-fit: cover;
    margin-top: 2vmin;
  }

  .mission-list{
    color: white;
    margin-top: 15vmin;
  }
  
  .mission-item{
    font-size: 5vmin;
    transition: 0.2s;
    width: 100%;
    margin:auto;
    cursor: pointer;
    padding: 1.5vmin;
    background-color: rgba(0, 0, 0, 0.356);
  }

  .mission-date{
    display: none;
  }

}
