body{
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(68, 68, 68));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.2vmin;
}

.content{
    padding-top: 5vmin;
    width: 60%;
    height: 800px;
    margin: auto;
    position: relative;
}

.navbar{
    border-bottom: 1px solid rgb(59, 60, 60);
    display: flex;
}

.logo{
    width: 25%;
    margin: auto;
    display: block;
    padding-bottom: 4vmin;
}

.arrow-left{
    height: 5vmin;
    filter:brightness(0.3);
}

.arrow-left:hover{
    height: 5vmin;
}

.arrow-right{
    height: 5vmin;
    filter:brightness(0.3);
}

.arrow-right:hover{
    height: 5vmin;
}

.mission-data{
    border-bottom: 1px solid rgb(59, 60, 60);
    display: flex;
    padding-bottom: 4vmin;
    padding-top: 4vmin;
}

.rescue-ships{
    padding-top: 4vmin;
}

.ship-container{
    display: flex;
    justify-content: space-evenly;
    gap: 2vmin;
}

.header{
    color:rgb(134, 134, 134);
    height: 40px;
}

.header-content{
    color: white;
    height: 60px;
    margin-bottom: 2vmin;
}

.text-align-right{
    text-align: right;
}

.text-large{
    font-size: 4vmin;
    font-weight: 600;
}

.button{
    color: white;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    padding-left: 4vmin;
    padding-right: 4vmin;
    border: 1px solid white;
    width: fit-content;
}

.column{
    width: 50%;
}

.ship-slide{
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 2vmin;
    overflow: hidden;
}

.ship-image{
    width: 100%;
    height: 55%;
    border-top-left-radius: 2vmin;
    border-top-right-radius: 2vmin;
}