body {
  background-image: url("./wallpaper.png");
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0.2vmin;
  user-select: none;
  height: 105vh;
}

.content {
  padding-top: 5vmin;
  width: 60%;
  height: 800px;
  margin: auto;
  position: relative;
}

.navbar {
  border-bottom: 1px solid rgb(59, 60, 60);
  display: flex;
}

.logo {
  width: 25%;
  margin: auto;
  display: block;
  padding-bottom: 4vmin;
}

.arrow-left {
  height: 3vmin;
  filter: brightness(0.3);
}

.arrow-left:hover {
  filter: brightness(1);
  cursor: pointer;
}

.arrow-right {
  height: 3vmin;
  filter: brightness(0.3);
}

.arrow-right:hover {
  filter: brightness(1);
  cursor: pointer;
}

.mission-data {
  border-bottom: 1px solid rgb(59, 60, 60);
  display: flex;
  padding-bottom: 4vmin;
  padding-top: 4vmin;
}

.rescue-ships {
  padding-top: 4vmin;
}

.ship-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2vmin;
}

.header {
  color: rgb(255, 255, 255);
  font-weight: 100;
  height: 25px;
  filter: drop-shadow(0px 0px 4px rgb(0, 0, 0));
}

.header-content {
  color: white;
  height: 60px;
  margin-bottom: 2vmin;
  font-weight: 900;
}

.text-align-right {
  text-align: right;
}

.text-large {
  font-size: 4vmin;
  font-weight: 600;
}

.learn-more {
  color: white;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  padding-left: 4vmin;
  padding-right: 4vmin;
  border: 1px solid white;
  width: fit-content;
}

.learn-more:hover {
  background-color: rgb(97, 97, 97);
  cursor: pointer;
}

.column {
  width: 50%;
}

.ship-slide {
  position: relative;
  background-color: rgb(0, 0, 0);
  width: 250px;
  height: 230px;
  overflow: hidden;
  filter: drop-shadow(0px 0px 10px black);
  top: 15px;
  transition: 0.2s slide;
  border: 2px solid rgb(255, 255, 255);
}

@keyframes slide{
  0% {top: 20px;}
  100% {top: 0px;}
}

.ship-slide:hover{
  top: 0px;
  transition: 0.3s;
}

.ship-image {
  height: 130px;
  width: 100%;
}

.header-slide {
  font-size: 2.2vmin;
  font-weight: 900;
  color: white;
  border-bottom: 1px solid rgb(219, 219, 219);
  width: 95%;
  margin: auto;
  padding-bottom: 1vmin;
  letter-spacing: normal;
  text-align: center;
}

.header-content-slide {
  font-size: 1.5vmin;
  color: rgb(167, 167, 167);
  margin-left: 5%;
  display: inline;
}

.header-content-slide-text {
  color: rgb(255, 255, 255);
  display: inline;
  font-weight: 900;
  letter-spacing: normal;
  margin-left: 5%;
}

.row {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  body {
    height: 250vh;
  }

  .content {
    padding-top: 2vmin;
    width: 90%;
    height: 800px;
    margin: auto;
    position: relative;
  }

  .logo {
    width: 60%;
    margin: auto;
    display: block;
    padding-bottom: 4vmin;
  }

  .arrow-left {
    height: 6vmin;
    filter: brightness(0.3);
  }

  .arrow-right {
    height: 6vmin;
    filter: brightness(0.3);
  }

  .mission-data {
    flex-direction: column;
  }

  .learn-more {
    width: 90%;
    border: 1px solid white;
    text-align: center;
    padding-top: 3vmin;
    padding-bottom: 3vmin;
    margin-bottom: 8vmin;
  }

  .column {
    width: 100%;
  }

  .text-align-right {
    text-align: unset;
  }

  .ship-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 4vmin;
  }

  .ship-slide {
    background-color: white;
    width: 100%;
    height: 280px;
    border-radius: 4vmin;
    overflow: hidden;
  }

  .header-slide {
    font-size: 6vmin;
    font-weight: 900;
    border-bottom: 1px solid rgb(219, 219, 219);
    width: 95%;
    margin: auto;
    padding-bottom: 1vmin;
    letter-spacing: normal;
  }

  .header-content-slide {
    font-size: 3.5vmin;
    color: rgb(167, 167, 167);
    margin-left: 5%;
    display: inline;
  }

  .text-large {
    font-size: 7vmin;
    font-weight: 600;
  }
}
